@media screen and (max-width:630px) {

body {
  margin: 0;
  font-family: 'Noto Sans HK', sans-serif;
  background-image: url("gang.png");
  background-size: cover;
}
.header {
  overflow: hidden;
  background-color: #C31414;
  padding: 0.625em 0.625em;
  align-self: center;
}
.arrow button {
  width: 25;
  background-color: #C31414;
  font-size: 20px;
  border: none;
  color: #ffffff;
  float: left;
  margin-right: -10%;
  padding: 1%;
  cursor: pointer;
}
.overskrift{
  font-size: 2.5em;
  font-family: 'Noto Sans HK';
  text-align: center;
  color: #ffffff;
}
.xxxxxx {
  background-color: #000000;
  opacity: 0.5;
  color: #ffffff;
  border-radius: 1.125em;
  border: 0.0625em solid #ffffff;
  text-align: center;
  width: 40%;
  font-size: 1.25em;
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  }
.billedeknap button {
  background-color:#73AE5F;
  color: #ffffff;
  font-size: 1em;
  font-family: 'Noto Sans HK';
  text-decoration: none;
  margin-top: 5%;
  margin-left: 9%;
  align-content: center;
  transition-duration: 0.4s;
  border-radius: 0.75em;
  border: 0.0625em solid #ffffff;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 1%;
  cursor: pointer;
  }
.tekst {
  background-color: #000000;
  opacity: 0.5;
  width: 50%;
  color: #ffffff;
  border-radius: 1.125em;
  border: 0.0625em solid #ffffff;
  text-align: center;
  margin-left: 30%;
  margin-top: 20%;
  }
}
