body {
  margin:0;
  font-family: 'Noto Sans HK', sans-serif;
}
.header {
  overflow: hidden;
  background-color: #C31414;
  padding: 0.625em 0.625em;
  align-self: center;
}
.arrow button {
  width: 25;
  background-color: #C31414;
  font-size: 20px;
  border: none;
  color: #ffffff;
  float: left;
  margin-right: -10%;
  padding: 1%;
  cursor: pointer;
}
.tekst {
  color: white;
  text-align: center;
  font-weight: inherit;
  font-family: 'Noto Sans HK';
  font-size: 40px;
}
.kasse-sort {
  background: rgba(0, 0, 0, 0.4);
  width: 80%;
  margin: auto;
  text-align: center;
  color:#FF0707;
  border-radius: 20px;
  border: 1px solid #C31414;
  padding: 2px;
  margin-bottom: 30px;
}
.input {
  border: 2px solid #C31414;
  border-bottom: 2px solid white;
  width: 70%;
}
.kasse1 {
  background-color: #C31414;
  width: 80%;
  margin: auto;
  border-radius: 12px;
  border: 1px solid #ffffff;
  padding: 2px;
  padding-left: 4%;
  margin-bottom: 30px;
}
.links-knapper p {
  text-align: center;
  font-family: 'Noto Sans HK';
  color: white;
}
.gruppe{
  background-color: #C31414;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #ffffff;
  padding: 1%;
  padding-left: 30%;
  padding-right: 30%;
  margin-left: 7.5%;
  font-size: 15px;
}
label {
  color: white;
  font-family: 'Noto Sans HK';
}
input {
  margin: 1em;
  color: #ffffff;
  background-color:#C31414;
  font-size: 15px;
  text-align: center;
  font-family: 'Noto Sans HK';
}
.aldersgruppe {
  display: flex;
  width: 80%;
  margin: auto;
}
.alder {
  background-color: #73AE5F;
  border-radius: 12px;
  border: 1px solid white;
  width: 30%;
}
.alder:not(:last-child){
  margin-right: 5%;
}
.input2{ //submit knappen
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color:#C31414;
  font-size: 15px;
  text-align: center;
  font-family: 'Noto Sans HK';
  width: 80%;
  border-radius: 20px;
  border: 1px solid #ffffff;
  padding: 0.5em;
  margin-left:11%;
  font-size: 15px;
}
/*Velkommen*/
.wrapper-velkommen {
  margin: auto;
  min-width: 275px;
  max-width: 630px;
  min-height: calc(100vh - 81.28px);
  background-image: url(images/medarbejdere.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  }
  .næste button {
    background-color:#73AE5F;
    color: #ffffff;
    font-size: 1em;
    font-family: 'Noto Sans HK';
    text-decoration: none;
    margin-top: 10%;
    margin-left: 13%;
    transition-duration: 0.4s;
    border-radius: 0.75em;
    border: 0.0625em solid #ffffff;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 1%;
  }
}
